.banner-heading-para h2 {
	position: inherit;
	margin-bottom: 30px;
}
.banner-heading-para p {
	padding-right: 0;
	padding-top: 0;
}
.book-form h5 {
	font-family: var(--bold-font-family);
	font-size: clamp(12px, 5vw, 16px);
}
.form-footer.form-contact {
	height: 130vh;
	-ms-overflow-style: none;
	scrollbar-width: none;
	overflow: scroll;
	overflow-x: hidden;
}
.form-footer.form-contact::-webkit-scrollbar {
	width: 0; /* Remove scrollbar space */
	background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
.form-footer.form-contact::-webkit-scrollbar-thumb {
	background: #ff0000;
}
.banner-heading-para {
	margin-top: 110px;
	padding-right: 70px;
}
.book-form h5 {
	padding: 20px 0;
}
.book-form p {
	margin-bottom: 20px;
}
a.btn.submit {
	width: 30%;
	margin-top: 10px;
}
section#banner {
	position: relative;
	padding-bottom: 50px;
}
::-webkit-scrollbar {
	display: none;
}
@media (max-width: 1024px) {
	.banner-heading-para {
		margin-top: 80px;
		padding-right: 70px;
	}
}
