section.tabs-design-sec {
	padding: 110px 0;
}
.nav-tabs-design ul li .nav-link {
	background: #e4f3fa;
	height: 120px;
	width: 170px;
	border: 1px solid #d4e0e5;
	border-radius: 0;
}
.nav-tabs-design ul li .nav-link.active {
	color: #fff;
	background-color: #e4f3fa;
}
.deisgn h5 {
	color: #081a55;
	font-size: 16px;
	font-family: "Brinnan-Bold";
}
.nav-tabs-design ul li .second-links {
	border-radius: 10px 0px 0px 10px;
}
.nav-tabs-design ul li .second-links1 {
	border-radius: 0px 10px 10px 0px;
}
li.nav-item.nav-second {
	display: none;
}
.inside-wrapper {
	display: flex;
	flex-direction: column;
}
.nav-tabs-design ul li .second-links2 {
	background: transparent;
	height: 100px;
	width: 100%;
	border: none;
	border-radius: 0;
	text-align: start;
	padding: 0;
	border-bottom: 1px solid #dcdcdc;
}
.deisgn1 {
	display: flex;
	align-items: center;
}
.deisgn1 img {
	margin-right: 16px;
}
.deisgn1 h5 {
	color: #081a55;
	font-size: 20px;
	font-family: "Brinnan-Bold";
	margin: 0;
}
.tab-headind-main h4 {
	font-family: "Montserrat-SemiBold";
	font-size: 30px;
	color: #081a55;
}
.tab-headind-main p {
	font-family: "Montserrat-Regular";
	font-size: 16px;
	color: #081a55;
}
.main-step-wizard {
	background: #eef7fb;
	border-radius: 20px;
	padding: 50px 40px;
	height: 609px;
}
.flag-img {
	border-left: 1px solid #dcdcdc;
	padding-left: 60px;
	margin-left: 39px;
	justify-content: center;
	height: 30rem;
	display: flex;
	flex-direction: column;
}
.image {
	width: 300px;
}
.image input {
	background: transparent;
	border: none;
	width: 110%;
}
.image input::placeholder {
	color: #767b7d;
	font-size: 16px;
	font-family: "Poppins-Medium";
}
.nex-prev-btn .btn {
	background: #08a9e6;
	border: 0;
	padding: 10px 0px;
	margin-right: 10px;
	margin-top: 20px;
	border-radius: 4px;
	font-size: 16px;
	width: 180px;
}
.third-link {
	border-bottom: none;
}
.nex-prev-btn {
	margin-top: 30px;
}
div#frames {
	text-align: center;
	margin-top: 39px;
}
input#fakeInput {
	width: 100%;
	background-color: #f8f8f8;
	border-radius: 8px;
	display: block;
	padding: 11px 0;
	box-sizing: border-box;
	border: initial;
	height: 3em;
}

#fileinput {
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
}

input#fakeInput {
	width: 112%;
	background-color: transparent;
	border-radius: 8px;
	display: block;
	/* padding: 11px 0; */
	box-sizing: border-box;
	border: initial;
	height: 0px;
	display: inline-block;
	white-space: nowrap;
	-webkit-animation: scrolling-left2 10s linear infinite;
	animation: scrolling-left2 10s linear infinite;
	animation-delay: 10s;
}
.image {
	width: 300px;
	position: relative;
	overflow: hidden;
}
.form-group-checkbox {
	display: block;
	margin-bottom: 15px;
}

.form-group-checkbox input {
	padding: 0;
	height: initial;
	width: initial;
	margin-bottom: 0;
	display: none;
	cursor: pointer;
}

.form-group-checkbox label {
	position: relative;
	cursor: pointer;
}

.form-group-checkbox label:before {
	content: "";
	-webkit-appearance: none;
	background-color: transparent;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
		inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
	padding: 10px;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	cursor: pointer;
	background-image: transparent;
	border: 1px solid #272727;
	margin-right: 5px;
	border-radius: 4px;
	margin-top: 9px;
}
.form-group-checkbox input:checked + label:after {
	content: "";
	display: block;
	position: absolute;
	top: 11px;
	left: 7px;
	width: 7px;
	height: 14px;
	border: solid #272727;
	border-width: 0px 3px 3px 0px;
	transform: rotate(45deg);
}

.new h5 {
	color: #808080;
	font-size: 14px;
	font-family: "Poppins-Regular";
	margin-left: 5px;
}
.new h5 a {
	color: #158fbc;
	font-size: 14px;
	font-family: "Poppins-Regular";
	margin-left: 5px;
}
.new form {
	display: flex;
	align-items: baseline;
	margin-top: 10px;
}
.controls {
	border-bottom: 1px solid #dcdcdc;
	padding-bottom: 10px;
}

div.table-title {
	display: block;
	margin: auto;
	max-width: 600px;
	padding: 5px;
	width: 100%;
}

.table-title h3 {
	color: #fafafa;
	font-size: 30px;
	font-weight: 400;
	font-style: normal;
	font-family: "Roboto", helvetica, arial, sans-serif;
	text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
	text-transform: uppercase;
}

/*** Table Styles **/

.table-fill {
	background: transparent;
	border-radius: 3px;
	border-collapse: collapse;
	height: 244px;
	margin: auto;
	max-width: 600px;
	padding: 5px;
	width: 100%;
	border: 0 5px 10px rgba(0, 0, 0, 0.1);
	animation: float 5s infinite;
	border: 1px solid #c0cbda;
	margin-top: 50px;
}

.table-fill th:first-child {
	border-top-left-radius: 3px;
}

.table-fill th:last-child {
	border-top-right-radius: 3px;
	border-right: none;
}

.table-fill tr {
	border-top: 1px solid #c1c3d1;
	border-bottom: 1px solid #c1c3d1;
	color: #666b85;
	font-size: 16px;
	font-weight: normal;
	text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

.table-fill tr td:hover {
	background: #081a55;
	color: #ffffff;
	border-top: 1px solid #22262e;
}

.table-fill tr:first-child {
	border-top: none;
}
button.nav-link.second-links12 {
	display: none;
}

.table-fill tr:last-child {
	border-bottom: none;
}
.table-fill tr:last-child td:first-child {
	border-bottom-left-radius: 3px;
}

.table-fill tr:last-child td:last-child {
	border-bottom-right-radius: 3px;
}

.table-fill td {
	background: transparent;
	padding: 0px 20px;
	text-align: left;
	font-family: "Poppins-Light";
	vertical-align: middle;
	font-weight: 300;
	font-size: 16px;
	border-right: 1px solid #c1c3d1;
	color: #081a55;
}
.table-fill td i {
	margin-left: 10px;
}
.table-fill td:last-child {
	border-right: 0px;
}

.table-fill th.text-left {
	text-align: left;
}

.table-fill th.text-center {
	text-align: center;
}

.table-fill th.text-right {
	text-align: right;
}

.table-fill td.text-left {
	text-align: left;
}

.table-fill td.text-center {
	text-align: center;
}

.table-fill td.text-right {
	text-align: right;
}

/*Range style*/
#range-slider__range {
	appearance: none;
	width: calc(100% - (73px));
	height: 10px;
	border-radius: 5px;
	background: #d7dcdf;
	outline: none;
	padding: 0;
	margin: 0;
}

/*Range black ⚫ thumb*/
#range-slider__range::-webkit-slider-thumb {
	appearance: none;
	width: 20px;
	height: 20px;
	border-radius: 100%;
	background: #2c3e50;
	cursor: pointer;
	transition: background 0.15s ease-in-out;
}

/*On hover change colour of black thumb into green 🟢 and scale size*/
#range-slider__range::-webkit-slider-thumb:hover {
	transform: scale(1.1);
	background: #1abc9c;
}

#range-slider__range:active::-webkit-slider-thumb {
	transform: scale(1.1);
	background: #1abc9c;
}

/*Range current value*/
.range-wrapper label span {
	text-align: center;
	font-size: 15px;
	color: #000;
	background: #fff;
	height: 60p;
	padding: -1px 10px;
	padding: 5px 5px;
	border: 1px solid #dcdcdc;
	border-radius: 5px;
	font-family: "Montserrat-Regular";
	width: 40px;
	height: 34px;
	text-align: start;
}
.range-wrapper label {
	display: flex;
	align-items: center;
	font-family: "Brinnan-Bold";
	justify-content: space-between;
	color: #081a55;
	font-size: 17px;
}
.range-wrapper label h6 {
	font-family: "Brinnan-Bold";
	color: #081a55;
	width: 100px;
	font-size: 17px;
}
input.range::-webkit-slider-thumb {
	appearance: none;
	width: 20px;
	height: 20px;
	border-radius: 100%;
	background: rgb(8, 169, 230);
	background: radial-gradient(
		circle,
		rgba(8, 169, 230, 1) 31%,
		rgba(242, 244, 255, 1) 31%
	);
	cursor: pointer;
	transition: background 0.15s ease-in-out;
	position: relative;
	border: 2px solid #081a55;
	position: relative;
}

input.range::-webkit-slider-thumb::before {
	position: absolute;
	top: 8px;
	left: -7px;
	width: 20px;
	height: 20px;
	border: 7px solid black;
	content: "";
	background-color: #1abc9c;
}
.range {
	appearance: none;
	width: calc(80% - (91px));
	height: 10px;
	border-radius: 5px;
	background: #f9f9f9;
	outline: none;
	padding: 0;
	margin: 0;
	/* position: relative; */
	border: 1px solid #dcdcdc;
}
.range-wrapper {
	margin: 12px 0 0 0;
}
.multi-slider input#exampleInputEmail1 {
	height: 70px;
	border: 1px solid #dcdcdc;
	border-radius: 10px;
	padding: 10px 19px 30px 10px;
}
.multi-slider input#exampleInputEmail1::placeholder {
	font-family: "Poppins-SemiBold";
	color: #cccccc;
	font-size: 16px;
}
.select-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.color-picker {
	text-align: center;
}
canvas#color_picker {
	width: 50px;
	height: 50px;
}
.select-wrapper select.form-select {
	width: 220px;
	border: 1px solid #cecece;
	width: 205px;
	font-size: 14px;
	color: #000000;
	border-radius: 0px;
	padding-left: 5px;
	font-family: "Roboto-Bold";
	background-color: #fff;
}
.select-wrapper1 {
	position: relative;
}
.select-wrapper1:after {
	content: "";
	width: 0px;
	height: 35px;
	border-left: 2px solid #cecece;
	position: absolute;
	right: 38px;
	top: 1px;
	pointer-events: none;
}
.select-wrapper h6 {
	font-family: "Brinnan-Bold";
	color: #081a55;
	width: 100px;
	font-size: 17px;
}
.select-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 12px 0;
}
.btn {
	font-size: 11px;
	color: #fff;
	padding: 10px 7px;
	transition: all 0.4s ease-in-out;
	background-color: #081a55;
	border-radius: 5px;
	cursor: pointer;
	font-family: "Montserrat-Regular";
}
.justify button img {
	height: 39px;
}
.justify button {
	border: none;
	margin-left: 10px;
}
.select-wrapper2 {
	display: flex;
	align-items: end;
	justify-content: space-between;
}
.select-wrapper2 h6 {
	font-family: "Brinnan-Bold";
	color: #081a55;
	font-size: 17px;
}
.red {
	background-color: #f75414;
}

.orange {
	background-color: #081a55;
}

.yellow {
	background-color: #f4c914;
}

.green {
	background-color: #08a9e6;
}

.blue {
	background-color: #f75414;
}

.purple {
	background-color: #081a55;
}

.grey {
	background-color: #f4c914;
}

.white {
	background-color: #08a9e6;
}
.bGButton button {
	width: 40px;
	height: 39px;
	border: none;
	border-radius: 6px;
	margin-left: 4px;
}
.main-wrapper .color-wrapper img {
	border-radius: 0px;
	border: 1px solid black;
	width: 113px;
	height: 101px;
	margin: 10px 3px;
}
.deisgn1 .image p {
	font-family: "poppins-Medium";
	font-size: 14px;
	color: #747a7d;
}
.color-picker-plus-color {
	display: flex;
	align-items: end;
	justify-content: space-between;
	line-height: 3;
}
.color-picker.color-picker12 {
	text-align: start;
}
.Banner-Preview h6 {
	font-size: 14px;
	font-family: "poppins-Medium";
	color: #73797d;
}
.Banner-Preview h4 {
	font-size: 20px;
	font-family: "Brinnan-Bold";
}
.Banner-Preview {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.art-wrapper {
	width: 110px;
	margin: 20px 0px;
}
button#pills-final-tab {
	display: none;
}

.nav-link-final {
	background: #08a9e6;
	border: 0;
	padding: 10px 34px;
	margin-right: 10px;
	margin-top: 20px;
	border-radius: 4px;
	font-size: 16px;
	display: flex;
	align-items: center;
	height: 40px;
	margin: 0;
	font-size: 16px;
	color: #fff;
	padding: 8px 18px;
	transition: all 0.4s ease-in-out;
	cursor: pointer;
	font-family: "Montserrat-Regular";
}
.nav-link-final span {
	margin-left: 10px;
}
.flexwrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.nav-link-final .deisgn h5 {
	margin: 0;
	font-size: 16px;
	color: #fff;
	padding: 8px 7px;
	transition: all 0.4s ease-in-out;
	cursor: pointer;
	font-family: "Montserrat-Regular";
}
@keyframes scrolling-left1 {
	0% {
		transform: translateX(100%);
		-webkit-transform: translateX(100%);
	}
	100% {
		transform: translateX(-100%);
		-webkit-transform: translateX(-50%);
	}
}
@keyframes scrolling-left2 {
	0% {
		transform: translateX(0%);
		-webkit-transform: translateX(0%);
	}
	100% {
		transform: translateX(-100%);
		-webkit-transform: translateX(-100%);
	}
}

@-webkit-keyframes scrolling-left1 {
	0% {
		-webkit-transform: translateX(100%);
	}
	100% {
		-webkit-transform: translateX(-50%);
	}
}
@-webkit-keyframes scrolling-left2 {
	0% {
		-webkit-transform: translateX(0%);
	}
	100% {
		-webkit-transform: translateX(-50%);
	}
}
@media (max-width: 1366px) {
	.btn {
		font-size: 8px;
	}
	.nex-prev-btn .btn {
		width: 160px;
	}
	.justify button img {
		height: 35px;
	}
	.color-picker {
		width: 50px;
		/* text-align: center; */
		/* margin: 0px 10px; */
	}
	.select-wrapper h6 {
		font-size: 14px;
	}
	.color-picker {
		text-align: start;
	}
	.select-wrapper2 h6 {
		font-size: 14px;
	}
	.tab-headind-main h4 {
		font-family: "Montserrat-SemiBold";
		font-size: 25px;
		color: #081a55;
	}
	.tab-headind-main p {
		font-family: "Montserrat-Regular";
		font-size: 14px;
		color: #081a55;
	}
	.table-fill td {
		font-size: 14px;
	}
	.bGButton button {
		width: 36px;
		height: 37px;
		border: none;
		border-radius: 6px;
		margin-left: 4px;
	}
	.main-wrapper .color-wrapper img {
		border-radius: 0px;
		border: 1px solid black;
		width: 130px;
		height: 75px;
		margin: 10px 3px;
		/* object-fit: cover; */
	}
}
