section.faqs-sec {
	padding-bottom: 190px;
	padding-top: 180px;
}
.faq-card h2 .accordion-button {
	color: #000000;
	font-family: "poppins-SemiBold";
	text-decoration: none;
	background-color: #f6fbfe !important;
	padding: 0 10px;
	border: 0;
	font-size: 20px;
}
.faq-card {
	border: 0;
	border-radius: 0;
}
/* .faq-box {
	border: 1px solid #68482a;
	padding: 10px 23px;
} */
.faq-card {
	/* border-bottom: 1px solid #68482a !important; */
	/* border-top: 1px solid #E8E8E8 !important; */
	margin: 22px 0;
	position: relative;
}
.last-faq {
	border-bottom: 0 !important;
}
.faq-accordions {
	display: flex;
	justify-content: center;
}

.faq-heading {
	width: 100%;
}
.faq-heading h2 {
	font-size: 40px;
}
section.faqs-sec .btn-link:hover {
	text-decoration: none !important;
}

section.faqs-sec .card-header {
	border-bottom: none !important;
	padding: 0;
}

section.faqs-sec .card.faq-card {
	margin-bottom: 3px;
}

section.faqs-sec .card-body {
	padding: 0px 13px;
}
.accordion-body {
	background: #eff8fc !important;
}
/* section.faqs-sec button.btn.btn-link.faq[aria-expanded="true"]::before {
    content: "\f106";
    font-family: "fontawesome";
    color: #FFFFFF;
    margin-right: 20px;
}

section.faqs-sec button.btn.btn-link.faq[aria-expanded="false"]::before {
    content: "\f107";
    font-family: "fontawesome";
    color: #FFFFFF;
    margin-right: 20px;
} */

.card-body {
	color: #ffffff;
	font-size: 15px;
	font-family: "Roboto-Medium";
}

.faq-card .heading {
	padding: 7px 0;
}

.main_heading.text-center {
	padding-bottom: 13px;
	margin-bottom: 42px;
}
.fa-heading {
	text-align: center;
	padding-bottom: 30px;
}

section.newsletter-sec {
	padding-top: 86px;
}

section.faqs-sec .card.faq-card {
	margin-bottom: 3px;
}

section.faqs-sec .card-body {
	padding: 0px 13px;
}

section.faqs-sec .accordion-button[aria-expanded="true"]::before {
	content: "\f068";
	font-family: "fontawesome";
	color: white;
	position: absolute;
	left: 0;
	height: 100%;
	background: #08a9e6;
	width: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
section.faqs-sec .accordion-button[aria-expanded="false"]::before {
	content: "\f067 ";
	font-family: "fontawesome";
	color: white;
	/* margin-right: 20px; */
	position: absolute;
	left: 0;
	height: 100%;
	background: #081a55;
	width: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.accordion-body p {
	font-family: "Poppins-Regular";
	color: #060606;
}
.accordion-button::after {
	content: unset !important;
}
.accordion-button:focus {
	z-index: 3;
	border-color: transparent !important;
	outline: 0;
	box-shadow: unset !important;
}
.faq1 {
	margin-left: 47px;
	padding: 14px 10px;
}
@media (max-width: 1200px) {
	.main_heading2 h1 {
		font-size: 41px;
	}
	.main_heading1 h2.cssanimation.leRotateYZoomIn.random1 {
		color: #081a55;
		font-size: 41px;
	}
	.main_heading p {
		font-size: 12px;
	}
	.faq1 {
		font-size: 18px;
	}
	.accordion-body p {
		font-family: "Poppins-Regular";
		color: #060606;
		font-size: 12px;
	}
}
@media (max-width: 590px) {
	.faq-card h5 .faq {
		font-size: 7px;
	}

	.faq-card .heading {
		padding: 0;
		overflow: hidden;
		border-radius: 0;
	}

	div#accordion {
		width: 100%;
	}

	.card-body {
		font-size: 8px;
	}

	.reserve-btn {
		width: 53%;
	}

	h2 {
		font-size: 34px;
	}
}
