section.profile-sec {
	padding: 170px 0;
}
section.profile-sec .nav-tabs .nav-link.active {
	font-family: "Brinnan-Bold";
	color: #ffffff;
	background-color: var(--first-color);
	padding: 10px 22px;
	border-radius: 10px 0px 0px 0px;
	transition: 1s all ease;
	background: #08a9e6;
	width: 171px;
	text-align: center;
}
section.profile-sec .nav-tabs {
	border-bottom: 1px solid #dce2e5;
	position: relative;
	text-align: end;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: end;
}
section.profile-sec .nav-tabs .nav-link {
	color: #081a55;
	padding: 10px 22px;
	border: none;
	font-size: 16px;
	font-family: "Brinnan-Bold";
	padding: 10px 30px;
	border-radius: 0;
	margin: 0;
	background-color: #def1f9;
	border-top: 1px solid #dce2e5;
	border-left: 1px solid #dce2e5;
	border-right: 1px solid #dce2e5;
	width: 171px;
}
#profile-tab[aria-selected="true"] {
	border-radius: 0px;
}
#contact-tab[aria-selected="true"] {
	border-radius: 0px;
}
#Payment-tab[aria-selected="true"] {
	border-radius: 0px 10px 0 0;
}
.upload-img {
	position: relative;
	text-align: center;
	top: -59px;
	width: 70%;
	margin: 0;
	right: -40px;
}
.main-profile-wrapper {
	background: linear-gradient(
		90deg,
		rgba(219, 239, 249, 1) 0%,
		rgba(238, 247, 251, 1) 36%,
		rgba(223, 241, 249, 1) 100%
	);

	padding: 0px 0 70px 0;
}
.table-wrapper {
	margin-top: 55px;
}
.multi-wrapper.fitter-street {
	margin-top: 116px;
}
.change-password {
	display: flex;
	align-items: baseline;
}
.btn-profile {
	background: #08a9e6;
	border: 0;
	padding: 10px 50px;
	margin-right: 10px;
	margin-top: 0px;
	border-radius: 4px;
	font-size: 16px;
	color: #fff;
}
.btn-profile1 {
	padding: 10px 37px;
}
.upload-btn-wrapper h4 {
	font-family: "Brinnan-Bold";
	font-size: 25px;
	color: #081a55;
	text-transform: uppercase;
}
.first-name h5 {
	font-family: "Poppins-Bold";
	font-size: 16px;
	color: #081a55;
}
.first-name h6 {
	font-family: "Poppins-Regular";
	font-size: 15px;
	color: #081a55;
}
.password h5 {
	font-family: "Poppins-Bold";
	font-size: 16px;
	color: #081a55;
}
.password h6 {
	font-family: "Poppins-Regular";
	font-size: 15px;
	color: #081a55;
	margin: 0;
}
.change-password a {
	font-family: "Poppins-Medium";
	font-size: 15px;
	color: #08a9e6;
	margin-left: 10px;
	text-decoration: underline;
	position: relative;
	top: -7px;
	left: 10px;
}
.upload-btn-wrapper {
	text-align: center;
}
.upload-btn-wrapper p {
	font-family: "poppins-regular";
	font-size: 15px;
	color: #000000;
}
.upload-btn-wrapper span {
	font-family: "Brinnan-Regular";
	font-size: 25px;
	color: #081a55;
}
.profile-icon i {
	background: #08a9e6;
	height: 22px;
	width: 22px;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	color: #fff;
	border: 1px solid #fff;
}
.profile-icon {
	position: absolute;
	top: 15px;
	right: 52px;
}
.btn-profile i {
	margin-left: 10px;
}
#Payment-tab {
	border-radius: 0 10px 0px 0px;
}
#home-tab {
	border-radius: 10px 0 0 0;
}
li.nav-item {
	text-align: center;
}
section.profile-sec .nav-tabs .nav-link:hover {
	margin: 0;
}
li.nav-item1 {
	position: absolute;
	right: 0;
	top: 2px;
}
li.nav-item1 a .btn {
	border: 1px solid var(--first-color);
	padding: 7px 28px;
	border-radius: 0px;
	color: var(--first-color);
	font-size: 16px;
	font-family: "poppins";
	font-weight: 500;
	width: 130px;
	height: 43px;
}
.edit {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	margin-top: 40px;
	margin-right: 30px;
	margin-bottom: 20px;
}
.btn1 {
	padding: 7px 12px;
	border-radius: 0px;
	color: var(--first-color);
	font-size: 14px;
	font-family: "poppins";
	font-weight: 500;
	background-color: var(--first-color);
	color: #fff;
	border: none;
	width: 130px;
	height: 43px;
}
.inputWithIcon {
	margin-top: 11px;
}
.btn2 {
	padding: 11px 52px;
	color: var(--first-color);
	font-size: 14px;
	font-family: "poppins";
	font-weight: 500;
	background-color: var(--first-color);
	color: #fff;
	border: none;
	width: 125px;
	height: 43px;
}
.edit a:hover {
	color: #fff !important;
}
.main-wrapper {
	margin-top: 20px;
}
.field-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 40px 0px 0px 0px;
}
.top-wrapper {
	margin-top: 0px;
}
.main-wrapper {
	margin: 20px 0px 89px 50px;
	position: relative;
}
.main-wrapper-input {
	margin: 20px 0px 89px 50px;
	position: relative;
}
.field-wrapper h4 i {
	margin-right: 10px;
	color: var(--first-color);
}
.field-wrapper h4 {
	font-family: "poppins";
	font-weight: 400;
	font-size: 14px;
	color: #5e5e5e;
}
.field-wrapper1 {
	float: left;
}
.edit.edit-top {
}
.field-wrapper1 h4 {
	font-family: "poppins";
	font-weight: 400;
	font-size: 17px;
	color: var(--first-color);
	text-align: start;
	margin-bottom: 10px;
}
.inputWithIcon input {
	width: 100%;
	border: 1px solid #7c7c7b;
	border-radius: 7px;
	margin: 8px 0;
	outline: none;
	padding: 12px 0px;
	box-sizing: border-box;
	transition: 0.3s;
	/* height: 52px; */
	box-shadow: 2px 11px 12px 1px rgba(228, 237, 241, 1);
}
.inputWithIcon textarea#exampleFormControlTextarea1 {
	height: 110px;
	margin-top: 11px;
	resize: none;
	border: 1px solid #7c7c7b;
	border-radius: 10px;
	box-shadow: 2px 11px 12px 1px rgba(228, 237, 241, 1);
}
.inputWithIcon input::placeholder {
	font-size: 12px;
	color: #a6a5b5;
	font-family: "Poppins-Regular";
	font-weight: 400;
}
.inputWithIcon input:focus {
	border-color: var(--first-color);
	box-shadow: 0 0 8px 0 var(--first-color);
}

.inputWithIcon input {
	padding-left: 21px;
}
.main-wrapper-input-address {
	margin: 40px 0px 89px 50px;
}
#address-wrapper {
	display: none;
}
.inputWithIcon label {
	font-family: "Poppins-Medium";
	font-size: 18px;
	color: #535272;
	margin: 0;
}
.inputWithIcon i {
	position: absolute;
	left: 6px;
	top: 13px;
	padding: 9px 8px;
	color: var(--first-color);
	transition: 0.3s;
	font-size: 22px;
}
.inputWithIcon img {
	position: absolute;
	left: 6px;
	top: 18px;
	padding: 9px 8px;
	color: #aaa;
	transition: 0.3s;
	font-size: 22px;
}
.inputWithIcon input:focus + i {
	color: var(--first-color);
}

.inputWithIcon.inputIconBg i {
	background-color: #aaa;
	color: #fff;
	padding: 9px 4px;
	border-radius: 4px 0 0 4px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
	-moz-appearance: textfield; /* Firefox */
}

.inputWithIcon .icon-wrapper {
	position: absolute;
	left: 233px !important;
	top: 13px !important;
	padding: 9px 8px;
	color: var(--first-color);
	transition: 0.3s;
	font-size: 22px;
}
h4.change-p-heading {
	font-size: "poppins-regular";
	font-family: "poppins_r";
	font-size: 17px;
	text-align: start;
	margin: 10px 0;
	color: var(--first-color);
}
#newpost {
	display: none;
}
.main-wrapper-input11 {
	display: none;
}
.main-wrapper-input1.main-wrapper-input11 {
	margin: 20px 0px 89px 50px;
	position: relative;
}
.john-heading h5 {
	font-size: 18px;
	font-family: "Brinnan-Bold";
	color: #081a55;
	margin: 0;
}
.john-heading h6 {
	font-size: 14px;
	font-family: "Poppins-Light";
	color: #081a55;
	margin: 3px 0;
}
.john-heading h4 span {
	font-size: 14px;
	font-family: "Poppins-Bold";
	color: #081a55;
	margin-right: 10px;
}
.john-heading h4 {
	font-size: 14px;
	font-family: "Poppins-Light";
	color: #081a55;
	line-height: 1.8;
}
.address-name {
	display: flex;
	border: 1px solid #bac1c4;
	width: 100%;
	padding: 20px 20px;
	align-items: baseline;
	position: relative;
	cursor: pointer;
}
.address-name i.fa-sharp.fa-solid.fa-location-dot {
	margin-right: 10px;
	color: #08a9e6;
	font-size: 21px;
	margin-top: 0px;
}
.address-name i.fa-solid.fa-trash-can {
	position: absolute;
	top: 0;
	right: 0;
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	background: #08a9e6;
	justify-content: center;
	color: #fff;
}
.address-default a {
	text-align: center;
	background: #08a9e6;
	padding: 3px 12px;
	color: #fff;
	font-size: 12px;
	font-family: "poppins-Light";
	width: 80px;
}
.phases-text a {
	display: none;
}

.phases-text a.active {
	display: block;
}
.phases ul li {
	cursor: pointer;
	position: relative;
}

.multi-wrapper {
	margin: 30px 0px;
	position: relative;
}
.address-wrapper ul li {
	margin-right: 10px;
	display: inline-block;
	margin-top: 20px;
}
.address-wrapper ul {
	position: relative;
}
.address-default.phases-text {
	height: 24px;
}
.edit-top-wrapper1 {
	margin: 0;
}
/* .table-wrapper .table tbody {
    border: 1px solid #C7C7C7;
    margin: 40px 40px ! important;
}
.table-wrapper .table tbody tr  {
    
} */
.table-wrapper .table thead tr th {
	border-bottom: none;
	border-top: none;
	text-align: center;
	padding: 14px 0px;
	font-size: 18px;
	color: #081a55;
	font-family: "Brinnan-Bold";
}
.table-wrapper .table tbody tr th {
	text-align: center;
	vertical-align: text-bottom;
	font-size: 14px;
	color: #343436;
	font-family: "poppins";
	font-weight: 400;
}
a.view-detail {
	color: #08a9e6;
	font-size: 14px;
	font-family: "poppins-Bold";
	text-decoration: underline;
	text-transform: capitalize;
}
.table-wrapper .table tbody tr td {
	text-align: center;
	vertical-align: text-bottom;
	font-size: 16px;
	font-family: "poppins-Regular";
	color: #2a263d;
	border: none;
	vertical-align: middle;
}
.table-wrapper .table thead {
	color: #cfccd2;
	/* background-color: #000000; */
	border-radius: 0px;
	padding: 0 0;
}
.table-wrapper .table tbody tr {
	border: 1px solid #c7c7c7 !important;
	outline: 1px solid #c7c7c7;
}

table.table {
	border-collapse: separate;
	border-spacing: 0 15px;
	border-top: 10px;
	border-bottom: 10px;
}
.table-wrapper1 .table thead tr th {
	border-bottom: none;
	border-top: none;
	text-align: center;
	padding: 14px 30px;
	font-size: 14px;
	font-weight: 400;
	font-family: "poppins";
	color: #cfccd2;
}

.table-wrapper1 .table tbody tr td span img {
	border: 1px solid #e1e1e1;
	width: 110px;
	padding: 10px 0px;
}
.table-wrapper1 .table tbody tr {
	border: 1px solid #c7c7c7 !important;
	outline: 1px solid #c7c7c7;
}

table.table {
	border-collapse: separate;
	border-spacing: 0 34px;
	border-top: 10px;
	border-bottom: 10px;
}
.pagination {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-left: 0;
	list-style: none;
	border-radius: 0.25rem;
	align-items: start;
	justify-content: start;
}
.pagination li.page-item {
	margin: 0px 0px;
}
.pagination .page-link {
	position: relative;
	display: block;
	padding: 11px 19px;
	margin-left: -1px;
	line-height: 1.25;
	color: #6d6d6d;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 6px;
	/* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
	font-size: 22px;
	font-family: "poppins";
	font-weight: 500;
}
.page-link:focus {
	border-color: var(--first-color);
	box-shadow: 0 0 5px 0 var(--first-color) !important;
}

.page-item:first-child .page-link {
	padding: 11px 15px !important;
	border-radius: 6px !important;
}
.page-item:last-child .page-link {
	padding: 11px 4px !important;
	border-radius: 6px !important;
}
a.page-link.pagelink-second span i {
	font-size: 25px;
}
a.page-link.active {
	background-color: var(--first-color);
	color: #fff;
	padding: 11px 21px;
}

.page-item.active .page-link {
	background-color: #08a9e6;
	color: #fff !important;
	padding: 8px 17px !important;
	border: none;
	border-radius: 2px;
}
.papper-heading {
	font-size: 20px;
	color: #081a55;
	font-family: "Brinnan-Bold";
	margin: 0;
}
.inch-table {
	font-size: 14px;
	color: #081a55;
	font-family: "poppins-Bold";
	margin: 0;
}
.inch-table span {
	font-size: 14px !important;
	color: #081a55 !important;
	font-family: "Brinnan-Bold";
}
@media (max-width: 1366px) {
	.profile-icon {
		top: 15px;
		right: 36px;
	}
	.profile-icon {
		position: absolute;
		top: 15px;
		right: 39px;
	}
}
@media (max-width: 1200px) {
	.profile-icon {
		top: 15px;
		right: 36px;
	}
	.profile-icon {
		position: absolute;
		top: 15px;
		right: 39px;
	}
}
