.terms-heading h2 {
	font-size: 44px;
	color: #081a55;
}
.main_heading1 h2.cssanimation.leRotateYZoomIn {
	font-size: 50px;
	color: #081a55;
}
section.margin-privacy {
	padding: 170px 0;
}
.terms-heading h5 {
	font-size: 20px;
}
.privacy-heading h5 {
	font-size: 16px;
	font-family: "Roboto-Bold";
	margin-bottom: 20px;
	margin-top: 40px;
	color: #000000;
}
.terms-heading h5 {
	font-size: 16px;
	font-family: "Roboto-Bold";
	margin-bottom: 20px;
	margin-top: 40px;
}

section.margin-terms {
	padding: 170px 0;
}
/* .terms-heading h2 {
    font-family: "poppins";
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 35px;
}

.terms-heading h2 span {
    font-family: "poppins";
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 25px;
} */

/* .terms-heading h5 {

    font-family: "poppins";
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 25px;
} */

.para-heading {
	font-family: "poppins";
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 25px;
}
@media (max-width: 1200px) {
	.main_heading2 h1 {
		font-size: 41px;
	}
	.main_heading1 h2.cssanimation.leRotateYZoomIn.random1 {
		color: #081a55;
		font-size: 41px;
	}
	.main_heading p {
		font-size: 12px;
	}
	.faq1 {
		font-size: 18px;
	}
	.accordion-body p {
		font-family: "Poppins-Regular";
		color: #060606;
		font-size: 12px;
	}
}
