/* font family includes */
@font-face {
	src: url(../fonts/Poppins-Medium.ttf);
	font-family: "Poppins-Medium";
}

@font-face {
	src: url(../fonts/Poppins-SemiBold.ttf);
	font-family: "Poppins-SemiBold";
}

@font-face {
	src: url(../fonts/Poppins-Bold.ttf);
	font-family: "Poppins-Bold";
}

@font-face {
	src: url(../fonts/Poppins-Regular.ttf);
	font-family: "Poppins-Regular";
}
@font-face {
	src: url(../fonts/Poppins-Light.ttf);
	font-family: "Poppins-Light";
}

@font-face {
	src: url(../fonts/TomatoGrotesk-Regular.otf);
	font-family: "TomatoGrotesk-Regular";
}

@font-face {
	src: url(../fonts/TomatoGrotesk-Bold.otf);
	font-family: "TomatoGrotesk-Bold";
}

@font-face {
	src: url(../fonts/TomatoGrotesk-Light.otf);
	font-family: "TomatoGrotesk-Light";
}
@font-face {
	src: url(../fonts/TomatoGrotesk-Black.otf);
	font-family: "TomatoGrotesk-Black";
}
@font-face {
	src: url(../fonts/TomatoGrotesk-SemiBold.otf);
	font-family: "TomatoGrotesk-SemiBold";
}
@font-face {
	src: url(../fonts/TomatoGrotesk-Medium.otf);
	font-family: "TomatoGrotesk-Medium";
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	overflow-x: hidden;
	scroll-behavior: smooth;
}
body {
	height: 100%;
	overflow: hidden;
	background-color: #fff;
}
:root {
	--bluetype-background-color: #0f7ba1;
	--heading-color: #292929;
	--heading1-color: #fbfcfd;
	--bold-font-family: "TomatoGrotesk-Bold";
	--medium-font-family: "TomatoGrotesk-Medium";
	--regular-font-family: "TomatoGrotesk-Regular";
	--light-font-family: "TomatoGrotesk-Light";
	--samibold-font-family: "TomatoGrotesk-SemiBold";
}
h1 {
	font-family: var(--bold-font-family);
	font-size: 90px;
	line-height: 1.2;
	color: var(--heading-color);
}

h2 {
	font-family: var(--regular-font-family);
	font-size: 40px;
	line-height: 1.2;
	color: var(--heading-color);
}
h3 {
	font-family: var(--bold-font-family);
	font-size: 50px;
	line-height: 1.2;
	color: var(--heading-color);
}

h4 {
	font-family: var(--regular-font-family);
	font-size: 35px;
	line-height: 1.2;
	color: var(--heading-color);
}

h5 {
	font-family: var(--medium-font-family);
	font-size: 35px;
	line-height: 1.2;
	color: var(--heading-color);
}

h6 {
	font-family: var(--medium-font-family);
	font-size: 22px;
	line-height: 1.2;
	color: var(--heading1-color);
}
.span {
	font-family: var(--medium-font-family);
	line-height: 1.2;
	color: var(--heading-color);
}
p {
	font-family: var(--regular-font-family);
	font-size: 15px;
	line-height: 1.2;
}
.btn {
	background: var(--bluetype-background-color);
	color: #ffffff !important;
	border-radius: 20px;
	width: 22%;
	text-align: center;
	padding: 7px 0;
	font-family: var(--medium-font-family);
	font-size: 16px;
}
a {
	cursor: pointer;
	text-decoration: none;
}
.btn-check:focus + .btn,
.btn:focus {
	outline: 0;
	box-shadow: none;
}

:focus-visible {
	outline: none;
}
li {
	list-style: none;
}
ul {
	padding: 0;
}

/*preloader*/
.circle,
.message {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	margin: auto;
	width: 110px;
	height: 110px;
}
.message {
	text-align: center;
	padding-top: 16px;
	-webkit-animation: fonthide 1.3s linear infinite;
	animation: fonthide 1.3s linear infinite;
	background: #f2f2f2;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	z-index: 1111;
}
.message p {
	font-family: var(--regular-font-family);
	font-size: 14px;
	color: #000000 !important;
	z-index: 1111;
}
.circle {
	border-radius: 100%;
	border: 6px solid white;
	border-left: 6px solid black;
	border-right: 6px solid black;
	animation: spin 1.3s linear infinite;
	-webkit-animation: spin 1.3s linear infinite;
	z-index: 11111;
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@-webkit-keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes fonthide {
	0% {
		color: white;
	}
	100% {
		color: black;
	}
}
@-webkit-keyframes fonthide {
	0% {
		color: white;
	}
	100% {
		color: black;
	}
}
